// .is-typing {
//     position: absolute;
//     bottom: 40px;
//     left: 10px;
//     font-size: 14px;   
//     font-weight: 100;     
// }

.message-wrapper{
    position: absolute;
    bottom: 0;
    width: 100vw;

    display: flex;
    justify-content: space-evenly;

    textarea {
        font-family: $default-family;
        width: 80vw;
        border: none;
        outline: none;
        resize: none;
        overflow: auto;
        border-radius: 20px;
        line-height: 1.5;

        padding: 5px 15px 0 15px;

        background-color: white;
        font-size: 14px;

        filter: $drop-shadow;
    }

    input {
        padding: 0 15px;
        border-radius: 20px;
        background-color: white;
        font-size: 12px;

        filter: $drop-shadow;
    }
}