// .is-typing {
//     position: absolute;
//     bottom: 40px;
//     left: 10px;
//     font-size: 14px;   
//     font-weight: 100;     
// }

.message-wrapper{
    position: fixed;
    bottom: 1%;
    width: 100%;

    padding: 0 1%;

    display: flex;
    justify-content: space-evenly;

    textarea {
        font-family: $default-family;
        width: 80vw;
        border: 1px solid transparent;
        outline: none;
        resize: none;
        overflow: auto;
        border-radius: 20px;
        line-height: 1.5;

        padding: 5px 15px 5px 15px;

        background-color: white;
        font-size: 14px;

        filter: $drop-shadow;

        flex-grow: 1;

        &:focus {
            border-radius: 25px;
            border: 1px solid rgb(253, 193, 202);
        }

        &:focus-visible {
            outline: none;
        }
    }

    input {
        padding: 0 15px;
        border-radius: 20px;
        background-color: white;
        font-size: 12px;
        font-family: $default-family;

        filter: $drop-shadow;

        &:hover {
            @include button-hover;
        }
    }
}