// quick reset
* {
    border: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background{
    z-index: -100;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    overflow: hidden;

    background: rgb(238,174,202);
    background: -moz-linear-gradient(180deg, rgba(238,174,202,1) 0%, rgba(218,177,209,1) 46%, rgba(148,187,233,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(238,174,202,1) 0%, rgba(218,177,209,1) 46%, rgba(148,187,233,1) 100%);
    background: linear-gradient(180deg, rgba(238,174,202,1) 0%, rgba(218,177,209,1) 46%, rgba(148,187,233,1) 100%); 
}

body {
    font-family: $default-family;
    font-size: 16px;

    background: rgb(255,205,205);
    
}

a { 
    display: block;
    color: white;
    

    margin: 1rem 0;

    &:hover {
        cursor: pointer;
    }
}

.new-message {
    padding: 10px;
    background-color: lightblue;
    color: #212121;
    border-radius: 8px;
    float: left;
    clear: both;
    margin: 10px;
    filter: $drop-shadow;

    font-family: $default-family;
    font-weight: 200;

    h4 {
        font-family: $default-family;
        font-weight: 100;
    }
}

.my-message {
    background-color: rgb(253, 193, 202);
    float: right;
}

.hidden { display: none; }