.header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: fit-content;
    background-color: white;
    background: linear-gradient(to bottom, white, $house-blend);
    padding: 30px;
    transition: height .25s ease-in-out;

    @media (min-width: 900px) {
        padding: 60px;
    }

    .title {
        display: flex;
        align-items: center;
        margin-right: 20px;
        margin-bottom: 10px;

        h2 {
            margin-right: 10px;
            margin-bottom: 0;
        }
    }

    .change-user-button { 
        @include button;
        margin-bottom: 10px;
    }

    .change-user { display: none; }

    .show-change-user { display: flex !important; } 

    .change-user-input { 
        @include button;
        background-color: $blonde-roast;
        outline: none;
    }

    .change-user-submit { 
        @include button;
    }

    .hide-button {
        @include button;
    }

    .modal {
        background-color: rgba(54, 47, 45, 0.7);

        .modal-container {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            margin: auto;
            background-color: $blonde-roast;
            padding: 30px;
            border-radius: 5px;

            @media (min-width: 900px) {
                width: 60%;
                padding: 60px;
            }

            .title {
                width: 100%;
                margin-bottom: 10px;
            }

            .nickname-input {
                width: 100%;
                margin-bottom: 10px;

                @media (min-width: 900px) {
                    width: unset;
                    margin-bottom: 0;
                    margin-right: 10px;
                }
            }

            .nickname-submit {
                margin-right: 5px;
            }
        }
    }
}
