.loader-wrapper {
  z-index: 2;
  position: absolute;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: $blonde-roast;
  animation-name: slideOver;
  animation-delay: 3s;
  animation-duration: 1s;
  animation-fill-mode: forwards;

  .inner-container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .coffee-bean {
    width: auto;
    width: 40%;
  }

  .loading {
    margin-top: 5%;
    width: 40%;
  }

  .dot {
    opacity: 0;
    animation: blink 1s forwards; 
  }
  
  .dot2 {
    animation-delay: 1s;  
  }
  
  .dot3 {
    animation-delay: 2s;
  } 
}

@keyframes slideOver {
    100% {
      transform: translateX(100vw);
    }
}

@keyframes blink {
  100% {
    opacity: 1;
  }
}