@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap');

$default-family: 'Montserrat', arial, helvetica, sans-serif;

$opaque-white: rgba(255, 255, 255, .4);

$drop-shadow: drop-shadow(-3px 3px 5px rgba(0, 0, 0, 0.2));