@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

$default-family: 'Bitter', serif;;

$drop-shadow: drop-shadow(-3px 3px 5px rgba(0, 0, 0, 0.2));

// Colors
$blonde-roast: #ebdfd1;
$house-blend: #b8ab93;
$dark-brew: #362f2d;