@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap");
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #b8ab93;
  padding: 30px 0;
}
.header h2 {
  font-weight: 100;
}
.header .change-user-button {
  background: white;
  padding: 8px 15px;
  border-radius: 25px;
  font-size: 12px;
  font-weight: 100;
}
.header .change-user-button:hover {
  background-color: rgb(253, 193, 202);
  color: white;
  transition-duration: 0.2s;
}
.header .change-user {
  display: none;
}
.header .show-change-user {
  display: block !important;
}
.header .change-user-input {
  border: transparent;
  border-radius: 25px;
  padding: 8px 15px;
  width: 50%;
  font-weight: 100;
  font-size: 12px;
  font-family: "Montserrat", arial, helvetica, sans-serif;
}
.header .change-user-input:focus {
  border-radius: 25px;
  border: 1px solid rgb(148, 187, 233);
}
.header .change-user-input:focus-visible {
  outline: none;
}
.header .change-user-submit {
  background: white;
  border-radius: 15px;
  padding: 5px 15px;
  font-weight: 100;
  font-family: "Montserrat", arial, helvetica, sans-serif;
  font-weight: 200;
}
.header .change-user-submit:hover {
  background-color: rgb(253, 193, 202);
  color: white;
  transition-duration: 0.2s;
}
.header .hide-button {
  background: white;
  border-radius: 15px;
  padding: 5px 15px;
  font-weight: 100;
  margin-top: 20px;
  font-family: "Montserrat", arial, helvetica, sans-serif;
  font-weight: 200;
}
.header .hide-button:hover {
  background-color: rgb(253, 193, 202);
  color: white;
  transition-duration: 0.2s;
}

* {
  border: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, p, a, button, input {
  font-family: "Montserrat", arial, helvetica, sans-serif;
  font-size: 16px;
}

a {
  display: block;
  color: white;
  margin: 1rem 0;
}
a:hover {
  cursor: pointer;
}

.new-message {
  padding: 10px;
  background-color: lightblue;
  color: #212121;
  border-radius: 8px;
  float: left;
  clear: both;
  margin: 10px;
  filter: drop-shadow(-3px 3px 5px rgba(0, 0, 0, 0.2));
  font-family: "Montserrat", arial, helvetica, sans-serif;
  font-weight: 200;
}
.new-message h4 {
  font-family: "Montserrat", arial, helvetica, sans-serif;
  font-weight: 100;
}

.my-message {
  background-color: rgb(253, 193, 202);
  float: right;
  text-align: right;
}

.hidden {
  display: none;
}

.body {
  display: flex;
  align-items: center;
  height: 100vh;
  background: #ebdfd1;
  background: -moz-linear-gradient(0deg, rgb(184, 171, 147) 0%, rgb(255, 255, 255));
  background: -webkit-linear-gradient(0deg, rgb(184, 171, 147) 0%, rgb(255, 255, 255));
  background: linear-gradient(0deg, rgb(184, 171, 147) 0%, rgb(255, 255, 255));
}

.main {
  width: 100%;
  height: 95%;
  position: relative;
  overflow: hidden;
}
.main .main-wrapper {
  height: 100%;
}

.message-wrapper {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.message-wrapper span {
  font-family: "Montserrat", arial, helvetica, sans-serif;
  border: 1px solid #362f2d;
  overflow: auto;
  border-radius: 5px;
  line-height: 1.5;
  padding: 8px 15px;
  background-color: white;
  font-size: 14px;
  filter: drop-shadow(-3px 3px 5px rgba(0, 0, 0, 0.2));
  flex-grow: 1;
}
.message-wrapper input {
  padding: 0 15px;
  border-radius: 5px;
  background-color: white;
  font-size: 12px;
}
.message-wrapper input:hover {
  background-color: rgb(253, 193, 202);
  color: white;
  transition-duration: 0.2s;
}

.loader-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  background-color: #ebdfd1;
  animation-name: loading;
  animation-delay: 3s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
.loader-wrapper .coffee-bean {
  animation-name: pulse;
  animation-duration: 0.75s;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-direction: alternate;
  animation-iteration-count: 7;
  animation-fill-mode: none;
  animation-play-state: running;
}

@keyframes loading {
  from {
    right: 0;
  }
  to {
    right: -100vw;
  }
}
@keyframes pulse {
  0% {
    transform: scale(0.2);
  }
}

/*# sourceMappingURL=main.css.map */
